* {
    margin: 0;
    padding: 0;
    font-family: poppins;

}

.upper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
    gap: 110px;
}

.u_intro {

    display: flex;
    margin: 0px 45px;
    font-size: 25px;
    font-weight: 600;

}

.logo img {
    width: 70px;
    margin: 7px;
}

.name {
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}

.navbar {
    display: flex;
}

.nav_item {
    font-size: 18px;
    gap: 30rem;
    margin: 1.5em;
    transition: all;
    font-weight: 500;
    transition: all 0.7s ease;

    &:hover {
        color: #5840ba;
        cursor: pointer;
        transform: scale(1.2);
    }
}

.contact_btn {
    font-size: 20px;
    border: 2px solid white;
    border-radius: 30px;
    padding: 8px 25px;
    margin: 0 45px;
    background-color: #5840ba;
    color: white;
    transition: all 0.8s ease;

    &:hover {
        background-color: white;
        color: #5840ba;
        cursor: pointer;
        border: 2px solid #5840ba;
    }
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px;
    line-height: 1.1;

}

.hello {
    font-size: 20px;
    margin: 10px;
    font-weight: 600;
    color: rgb(65, 58, 58);
}

.hello span {
    color: #5840ba;
}

.fl {
    font-size: 70px;
    display: flex;
    font-weight: 700;
    color: rgb(124, 113, 113);
    gap: 30px;
}

.nm {
    color: #5840ba;
    text-decoration: underline;
}

.role {
    font-size: 70px;
    font-weight: 700;
    color: rgb(65, 58, 58);
    color: rgb(124, 113, 113);
}

.self_img {
    position: relative;
    display: flex;
    margin: 2rem;

}

.profile {
    position: relative;
    height: 300px;
    left: 40%;
    z-index: 2;
    transform: scale(1.3);
    /* Increase size proportionally by 1.5x */
    transform-origin: center;
}


.c1 {
    height: 22.4rem;
    width: 15rem;
    transform: skew(9deg);
    background-color: #5840ba;
    border-radius: 1.5rem;
    position: relative;
    left: 13%;
    top: 3.7rem;
    z-index: 1;
}


.c2 {
    height: 19.46rem;
    width: 13rem;
    transform: skew(-10deg);
    background-color: rgb(207, 205, 205);
    border-radius: 1.5rem;
    position: relative;
    left: 8%;
    top: 6.7rem;
    z-index: -1;
    opacity: 0.8;
}

.about {
    display: flex;
    margin: 13% 10% 2%;
    /* position: absolute; */
}

.aboutmeCard {
    /* position: absolute; */
    background-color: #5840ba;
    height: 23rem;
    padding: 2%;
    border-radius: 10%;
    position: relative;

}

.nos {
    font-size: 250px;
    font-weight: 600;
    left: 2.2rem;
    position: relative;
    color: white;
    line-height: 1;
    padding: 0;
    margin: 0;
    transform: scaleY(1.2);
    transform-origin: center;
}

.years {
    
    color: white;
    position: relative;
    font-size: 20px;
    font-weight: 400;
    margin-top: 2rem;
    left: 3rem;
}

.Info {

    margin: 3% 5%;

}

.abm {
    font-size: 20px;
    font-weight: 600;
}

.abm span {
    color: #5840ba;
}

.who {

    font-size: 45px;
    line-height: 1;
    margin-top: 1rem;
    font-weight: 550;
}

.whoname {
    color: #5840ba;
}

.infotext {
    margin-top: 1rem;
}

.cv {
    display: flex;
    margin-top: 1rem;
    font-size: 25px;
    position: absolute;
    height: 3rem;
    align-items: center;

}

.cv1 {
    border: 2px solid gray;
    width: 5rem;
    height: 2.4rem;
    background-color: gray;
    border-radius: 20px;
    position: relative;
    z-index: 1;
}

.cv1 i {
    color: white;
    font-size: 30px;
    padding: 0.4rem 0 0 0.8rem;

}

.cv2 {
    position: relative;
    border: 2px solid #b3be62;
    padding: 0 1.5rem;
    border-radius: 20px;
    background-color: #b3be62;
    z-index: 2;
    right: 2rem;
}

.skills {
    background-color: #5840ba;
    /* height: 100vh; */
    margin-top: 5rem;
    padding-bottom: 4rem;

}

.headings {
    display: flex;
}

.bgname {
    font-size: 80px;
    font-weight: 800;
    color: white;

    opacity: 1;
    padding: 2rem 0 0 2rem;

}

.skillscard {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
    margin: 0 1% 0 1%;


}

.skillscarditem {
    height: 25rem;
    width: 20rem;
    border-radius: 12rem;
    background-color: rgb(112, 91, 196);
    /* background-color: yellow; */
    margin: 2% 2% 0% 2%;
    transition: all 0.8s ease;
    /* box-shadow: 4px 2px 15px rgb(148, 124, 196) ; */

}

.imgCircle {
    background-color: rgb(129, 113, 201);
    opacity: 0.8;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    position: relative;
    left: 5rem;
    top: 3rem;
}

.img i {
    font-size: 100px;
    color: white;
    font-weight: 400;
    position: relative;
    left: 2.8rem;
    top: 1.5rem;
}

.img img {

    color: white;

    position: relative;
    left: 2rem;
    top: 2rem;
    width: 7rem
}

.hd1 {
    font-size: 30px;
    font-weight: 600;
    color: #b3be62;
    margin-top: 3.5rem;
    text-align: center;
}

.hd2 {
    color: white;
    opacity: 0.8;
    text-align: center;
    max-width: 80%;
    margin-left: 2rem;
    margin-top: 0.5rem;
}

.skillscarditem:hover {
    background-color: rgba(255, 255, 255);
    transform: translateY(-1.2rem);
    cursor: pointer;

}

.skillscarditem:hover .hd1 {
    color: black;
}

.skillscarditem:hover .hd2 {
    color: black;
}

.skillscarditem:hover .imgCircle {
    background-color: rgb(213, 212, 219);

}

.skillscarditem:hover .img i {
    color: #5840ba;
}

.skillscarditem:hover .img img {
    color: #5840ba;
}

.edu {
    margin-top: 4rem;
}

.edu_headings {
    text-align: center;
}

.e1 {

    color: rgb(65, 58, 58);
    font-size: 25px;
    font-weight: 600;
}

.e1 span {
    color: #5840ba;
    margin-right: 0.5rem;
}

.e2 {
    font-size: 45px;
    font-weight: 800;
    color: rgb(65, 58, 58);

}

.e2 span {
    color: #5840ba;
}

.edu_card {
    height: 70vh;
    width: 80%;
    border-radius: 20px;
    margin: 1rem auto;
    background-color: #eeecf9;
}

.cardhead {
    display: flex;
    gap: 1rem;
    font-size: 35px;
    padding: 1.5rem 0 1.5rem 2rem;
    font-weight: 550;
    color: #5840ba;
}

/* .c{

}
.c i{

}
.head{

} */

.deg {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 1rem 5rem 2rem 5rem;

}

.iname {
    font-size: 25px;

}

.idesc {
    font-size: 20px;
    color: #494949;

}

.marks {
    color: #5840ba;
    height: 2.5rem;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    border-radius: 20px;

}

.cgpa {
    padding-left: 2rem;
}

.projects {
    background-color: #5840ba;
    margin-top: 3rem;
}

.phead {
    padding: 5rem 0 2rem 5rem;
}

.ptitle {
    font-size: 25px;
    font-weight: 600;
    color: white;


}

.ptitle span {
    color: #b3be62;
    margin-right: 0.5rem;
}

.mtitle {
    font-size: 50px;
    font-weight: 600;
    margin-left: 1rem;
    color: white;

}

.mtitle span {
    color: #b3be62;
}

.pcards {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.pitem {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(112, 91, 196);
    width: 80%;
    height: 20rem;
    border-radius: 20px;
}

.pimg img {
    max-width: 100%;
    /* Ensures the image scales to fit its container */
    height: auto;
    /* Maintains the image's aspect ratio */
    border-radius: 20px;
    /* Keeps the rounded corners */
    margin: 1.5rem 0  0 2rem;
    /* Adjusts spacing around the image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Adds a subtle shadow for better emphasis */
    object-fit: cover;
    /* Ensures the image fills its container without distortion */
}

.pinfo {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
}

.ptech {
    display: flex;
    gap: 1.5rem;
}

.ti {

    border-radius: 20px;
    background-color: #b3be62;
    padding: 0.5rem 1rem;

}

.pt {
    color: white;
    font-size: 35px;
    font-weight: 600;
    margin: 0.5rem 0 0 0;
}

.pd {
    max-width: 90%;
    font-size: 15px;
    margin: 1rem 0;
    color: #eeecf9;
}

.details {
    display: flex;
    margin-top: 12.5rem;
    font-size: 20px;
    position: absolute;
    height: 3rem;
    align-items: center;
    transition: all 1s ease;
}

.d1 {
    border: 2px solid gray;
    width: 5rem;
    height: 2rem;
    background-color: gray;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    transition: background-color 0.7s ease, color 0.5s ease;
}

.d1 i {
    color: white;
    font-size: 25px;
    padding: 0.3rem 0 0 1.2rem;
    transition: color 1s ease;

}

.d2 {
    position: relative;
    border: 2px solid #b3be62;
    padding: 0 1.5rem;
    border-radius: 20px;
    background-color: #b3be62;
    z-index: 2;
    right: 2rem;
    transition: background-color 1s ease, color 1s ease;
}
.details:hover .d2{
    background-color: #494949;
    color: white;
    cursor: pointer;
}
.details:hover .d1{
    background-color: #b3be62;
    color: #494949;  
}
.details:hover .d1 i{
   
    color: #494949;  
}

.participations{
    margin: 6rem 0;
}
.partcard{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.partitem{
    background-color: #eeecf9;
    width: 80%;
    display: flex;
    border-radius: 40px;
    padding: 1rem 2rem;
    margin-top: 1.5rem;
}
.parthead{
    padding-left: 3rem;
    width: 13%;
    font-size: 20px;
    font-weight: 700;
    color: #5840ba;
}
.partdesc{
    margin-left: 1rem;
    
}
.footer {
    background-color: #5840ba;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
}

.cs {
    font-size: 25px;
    color: #eeecf9;
    display: flex;
    gap: 4rem;
    margin: 0;
}

.cs a {
    text-decoration: none;
    color: inherit;
    position: relative; /* Needed for tooltip positioning */
}

.cs a:hover i {
    color: #494949;
}



.cs a::after {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.cs a:hover::after {
    opacity: 1;
}


